.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CARD STYLE */

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25em;
}

.card {
  width: 30em;
}

.card-img {
  height: 13em;
  width: 30em;
  object-fit: cover;
}

.card-top-row {
  display: flex;
  align-items: center;
}

.heart-col {
  display: flex;
  align-items: flex-end;
}

.card-text {
  text-align: justify;
}

/* SEARCHBAR */

.searchbar-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#searchbar {
  width: 50%;
  height: 50px;
  font-size: 40px;
}