.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CARD STYLE */

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 30em;
}

.card-img {
  height: 13em;
  width: 30em;
  object-fit: cover;
}

.card-text {
  text-align: justify;
}